@model IEnumerable<RegulatoryUniverse.Models.ReportSchedule>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Assigned Reports - Regulatory Universe Dashboard";
    var currentYear = @DateTime.Now.Year;

    var fullName = Context.Session.GetString("fullname");
    var userRole = Context.Session.GetString("userRole");


}
<!--Begin Page Content-->
<div class="page-content d-flex align-items-stretch">
    <div class="w3-card-2 w3-white panel default-sidebar">
        <!-- Begin Side Navbar -->
        <nav class="side-navbar box-scroll sidebar-scroll">
            <!-- Begin Main Navigation -->
            <ul class="list-unstyled">

                <li><a href="/Home" class="active"><i class="ti ti-dashboard"></i><span>Dashboard</span></a></li>
                <li><a href="/ReportUpdate"><i class="ti ti-bell"></i><span>My Updates</span></a></li>
                @if (userRole.ToUpper() == "ADMINISTRATOR" || userRole.ToUpper() == "COMPLIANCEADMIN")
                {
                    <li><a href="/AdminAnalytics"><i class="ti ti-bar-chart"></i><span>Analytics</span></a></li>
                    <li><a href="/AdminReportUpdate"><i class="ti ti-alarm-clock"></i><span>Admin Report Updates</span></a></li>
                    <li>
                        <a href="#dropdown-tables" aria-expanded="false" data-toggle="collapse"><i class="ti-settings"></i><span>Settings</span></a>
                        <ul id="dropdown-tables" class="collapse list-unstyled pt-0">
                            <li><a href="/ReportSchedules">Report Schedules</a></li>
                            <li><a href="/AdminAppUser">Manage App Users</a></li>
                            <li><a href="/MailListManager">Manage Mailing List</a></li>

                        </ul>
                    </li>
                }
                <li><a href="https://cbgcomgh.sharepoint.com:443/:f:/s/Compliance/EskAP68scu9LhvslWc_gndkBMrlw1PUVvW6XexoOuIWizQ?e=5%3ahtDkGj&at=9" target="_blank"><i class="ti-anchor"></i><span>Regulatory Laws</span></a></li>
                <li><a href="#" id="logoutDashBtn"><i class="ion-log-out"></i><span>Log Out</span></a></li>

            </ul>

        </nav>
        <!-- End Side Navbar -->
    </div>

    <div class="content-inner">
        <div class="container-fluid">
            <div class="give-space"></div>

            <div class="row flex-row">

                <div class="col-md-12">

                    <div class="w3-card-2 w3-white panel widget has-shadow">
                        <div class="widget-header bordered no-actions w3-light-gray">
                            <div class="row">
                                <div class="col-2">
                                    <h4>Assigned Reports:</h4>
                                </div>
                                <div class="col-10">

                                    <div class="row">

                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="dailyCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow daily-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Daily</div>
                                                                <div class="number">@ViewData["AllDailyCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="weeklyCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow weekly-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Weekly</div>
                                                                <div class="number">@ViewData["AllWeeklyCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="monthlyCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow monthly-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Monthly</div>
                                                                <div class="number">@ViewData["AllMonthlyCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>



                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="quarterlyCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow quarterly-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Quaterly</div>
                                                                <div class="number">@ViewData["AllQuarterlyCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="halfYearCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow half-year-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Half Year</div>
                                                                <div class="number">@ViewData["AllHalfYearCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-xl-2 col-md-6 col-sm-6">
                                            <a href="#" id="annualCard" style="display: block !important;">
                                                <div class="w3-card-2 w3-white widget widget-12 has-shadow annual-card">
                                                    <div class="widget-body">
                                                        <div class="media">

                                                            <div class="media-body align-self-center" align="center">
                                                                <div class="title">Annually</div>
                                                                <div class="number">@ViewData["AllAnnualCount"]</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                @*<div class="col-2">
            <h4><a href="/" class="btn btn-danger btn-gradient-01 pull-right m-l-20 waves-effect waves-light"><i class='ti-angle-left'></i> Go Back</a></h4>
        </div>*@

                            </div>

                        </div>
                        <div class="widget-body">

                            <div class="table-responsive">
                                <table id="appDataTable" class="table mb-0 table-striped table-hover manage-u-table table-css">

                                    <thead>
                                        <tr>
                                            <th>
                                                Report Name
                                            </th>
                                            <th>
                                                Receiving Institution
                                            </th>
                                            <th>
                                                Schedule Frequency
                                            </th>
                                            <th>
                                                Schedule Day / Time
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Applicable Regulation
                                            </th>
                                            <th>
                                                Responsible Department
                                            </th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReportName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceivingInstitution)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ScheduleFrequency)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ScheduleFrequencyDate) / <b>@Html.DisplayFor(modelItem => item.ScheduleFrequencyTime)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicableLawRegulation)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ResponsibleDepartment)
                                                </td>

                                                <td class="td-actions" width="10%">
                                                    <a href="#" data-update-report-status='{"id": "@item.Id", "scheduleDate": "@item.ScheduleFrequency"}' rel='tooltip' data-toggle='tooltip' data-placement='bottom' title='Update Status'><i class='ti-bell'></i></a>
                                                    @*<a asp-action="Details" asp-route-id="@item.Id" rel='tooltip' data-toggle='tooltip' data-placement='bottom' title='Show Details'><i class='ti-more'></i></a>*@
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End Row -->
            <!-- End Container -->
            <!-- Begin Page Footer-->
            <footer class="main-footer fixed-footer">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
                        <p class="text-gradient-02"><b>&copy; @currentYear, Consolidated Bank Ghana</b> | All Rights Reserved</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">

                    </div>
                </div>
            </footer>
            <!-- End Page Footer -->
            <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>

        </div>

    </div>
</div>


@*Javascript functions here*@
<!--append scripts -->
@section scripts
{

    <script src="~/assets/js/custom/report_home.js"></script>


}